<h3>Héroe
  <small>Nombre...</small>
</h3>
<button class="btn btn-outline-danger btn-sm"
    [routerLink]="['heroes']">Regresar</button>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">
      <div class="form-group">
        <label>Nombre</label>
        <input class="form-control" [(ngModel)]="heroe.nombre" type="text" placeholder="Nombre del Héroe" required name="nombre">
      </div>
      <div class="form-group">
        <label>Casa</label>
        <select [(ngModel)]="heroe.casa" class="form-control" name="casa" id="">
          <option value="DC Comics">DC Comics</option>
          <option value="Marvel Comics">Marvel Comics</option>
        </select>
      </div>
      <div class="form-group">
        <label>Bio</label>
        <textarea [(ngModel)]="heroe.bio" class="form-control" type="text" name="bio">
        </textarea>
      </div>
      <div class="form-group">
        <button [disabled]="!forma.valid" class="btn btn-outline-success" type="submit">Guardar Cambios</button>
      </div>
    </form>
  </div>
</div>